.card-container{
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.061);
    padding: 5px;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 100%;
    transition: all .2s ease-in-out;
}


.card-container:hover{
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.109);
}